$main-color:#212529;
$secondary-color:#343A40;
$pure-white:#fff;
$light-white:#eee;
$dark:#2e2e2e;
$mog-color:#F8F9FA;
$mog-color-hover:#E9ECEF; 


$dark-gradient: linear-gradient(45deg, rgba(57, 59, 63, 0.64), rgba(92, 91, 100, 0.64));

$dark-gradient-solid:linear-gradient(to right, #434343 0%, black 100%)


